In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [16]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer

In [53]:
data = pd.read_csv("../dataset/regularite-mensuelle-tgv-aqst.csv" ,sep=",")
data.shape
data.columns

Index(['date', 'service', 'gare_depart', 'gare_arrivee', 'duree_moyenne',
       'nb_train_prevu', 'nb_annulation', 'commentaire_annulation',
       'nb_train_depart_retard', 'retard_moyen_depart',
       'retard_moyen_tous_trains_depart', 'commentaire_retards_depart',
       'nb_train_retard_arrivee', 'retard_moyen_arrivee',
       'retard_moyen_tous_trains_arrivee', 'commentaires_retard_arrivee',
       'nb_train_retard_sup_15', 'retard_moyen_trains_retard_sup15',
       'nb_train_retard_sup_30', 'nb_train_retard_sup_60',
       'prct_cause_externe', 'prct_cause_infra', 'prct_cause_gestion_trafic',
       'prct_cause_materiel_roulant', 'prct_cause_gestion_gare',
       'prct_cause_prise_en_charge_voyageurs'],
      dtype='object')

In [49]:
data.head()

,date,service,gare_depart,gare_arrivee,duree_moyenne,nb_train_prevu,nb_annulation,commentaire_annulation,nb_train_depart_retard,retard_moyen_depart,...,nb_train_retard_sup_15,retard_moyen_trains_retard_sup15,nb_train_retard_sup_30,nb_train_retard_sup_60,prct_cause_externe,prct_cause_infra,prct_cause_gestion_trafic,prct_cause_materiel_roulant,prct_cause_gestion_gare,prct_cause_prise_en_charge_voyageurs
0,2018-01,National,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,NaN,289,11.247809,...,110,6.511118,44,8,36.134454,31.092437,10.924370,15.966387,5.042017,0.840336
1,2018-01,National,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,NaN,8,2.875000,...,22,5.696096,5,0,15.384615,30.769231,38.461538,11.538462,3.846154,0.000000
2,2018-01,National,PARIS MONTPARNASSE,QUIMPER,220,248,1,NaN,37,9.501351,...,26,7.548387,17,7,26.923077,38.461538,15.384615,19.230769,0.000000,0.000000
3,2018-01,National,PARIS MONTPARNASSE,ST MALO,156,102,0,NaN,12,19.912500,...,8,6.724757,6,4,23.076923,46.153846,7.692308,15.384615,7.692308,0.000000
4,2018-01,National,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,NaN,61,7.796995,...,17,3.346487,6,0,21.212121,42.424242,9.090909,21.212121,6.060606,0.000000

In [54]:
encoder = LabelBinarizer(sparse_output=False)
encoded_df = pd.DataFrame(encoder.fit_transform(data['gare_depart']), columns=encoder.classes_)
encoded_df.columns = ["gare_depart=" + col for col in encoded_df.columns]
data = data.drop('gare_depart',axis=1)
data = pd.concat([data,encoded_df],axis=1)

encoder = LabelBinarizer(sparse_output=False)
encoded_df = pd.DataFrame(encoder.fit_transform(data['gare_arrivee']), columns=encoder.classes_)
encoded_df.columns = ["gare_arrivee=" + col for col in encoded_df.columns]
data = data.drop('gare_arrivee',axis=1)
data = pd.concat([data,encoded_df],axis=1)

data = data.drop(['commentaire_annulation','commentaire_retards_depart','commentaires_retard_arrivee'],axis=1)

In [55]:
data.head()

,date,service,duree_moyenne,nb_train_prevu,nb_annulation,nb_train_depart_retard,retard_moyen_depart,retard_moyen_tous_trains_depart,nb_train_retard_arrivee,retard_moyen_arrivee,...,gare_arrivee=ST PIERRE DES CORPS,gare_arrivee=STRASBOURG,gare_arrivee=STUTTGART,gare_arrivee=TOULON,gare_arrivee=TOULOUSE MATABIAU,gare_arrivee=TOURCOING,gare_arrivee=TOURS,gare_arrivee=VALENCE ALIXAN TGV,gare_arrivee=VANNES,gare_arrivee=ZURICH
0,2018-01,National,141,870,5,289,11.247809,3.693179,147,28.436735,...,0,0,0,0,0,0,0,0,0,0
1,2018-01,National,165,222,0,8,2.875000,0.095796,34,21.524020,...,0,0,0,0,0,0,0,0,0,0
2,2018-01,National,220,248,1,37,9.501351,1.003981,26,55.692308,...,0,0,0,0,0,0,0,0,0,0
3,2018-01,National,156,102,0,12,19.912500,1.966667,13,48.623077,...,0,0,0,0,0,0,0,0,0,0
4,2018-01,National,61,391,2,61,7.796995,0.886889,71,12.405164,...,1,0,0,0,0,0,0,0,0,0